@layer components {
  .promo-rail {
    display: grid;
    margin-inline: 0.625rem;
    padding-block: 0.625rem;
    gap: 0.625rem;
    padding-block-end: 0;
  }

  .promo-rail .promo-item {
    position: relative;
  }

  .promo-rail .rendition {
    display: none;
  }

  .promo-rail .rendition-mobile {
    display: block;
  }

  .promo-rail .rendition :is(p, picture, img) {
    display: block;
    inline-size: 100%;
    margin: 0;
  }

  .promo-rail .media-action {
    position: absolute;
    inset: 0;
  }

  .promo-rail .media-action :is(p, a, .prosemirror-editor, .ProseMirror) {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
  }

  .promo-rail .media-action a {
    font-size: 0;
  }

  @media (width >= 48em) {
    .promo-rail {
      inline-size: calc(50% - 0.625rem);
      margin-inline: 0.625rem;
    }

    .promo-rail .rendition-mobile {
      display: none;
    }

    .promo-rail .rendition-tablet {
      display: block;
    }
  }

  @media (width >= 75em) {
    .promo-rail {
      margin-inline: 0.625rem;
      inline-size: auto;
    }

    .promo-rail .rendition-tablet {
      display: none;
    }

    .promo-rail .rendition-desktop {
      display: block;
    }
  }

  html[quick-edit='true'] .promo-rail .media-action {
    position: relative;
    background: #fff;
    padding: 0.25rem;
  }

  html[quick-edit='true'] .promo-rail .media-action a {
    font-size: 0.875rem;
  }

  .promo-rail.mobile-banner .promo-item {
    block-size: 4.6875rem;
  }

  .promo-rail.mobile-banner .rendition img {
    block-size: 4.6875rem;
    object-fit: none;
    object-position: center;
  }

  .promo-rail.mobile-banner {
    margin: 0;
    padding: 0;
  }
}
