@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2');
  font-weight: 600 700;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2');
  font-weight: 800 900;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/ubuntu-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/ubuntu-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/ubuntu-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}
